$animation-time: .3s;

@keyframes pattern-bar {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes pattern-diagonal {
  0% {
    clip-path: polygon(0 0,0 0,0 59%,0 59%);
    opacity: 0;
  }
}

@keyframes content-reveal {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(.98);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 1024px;
  --main-width: 840px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;
  --theme1: #e1e5e9;
  --theme2: #33BBFF;
  --theme3: #33FF66;
  --theme4: #DDFF33;
  --theme5: #9da8b2;
  --entry: #f5f7f9;
  --bs-primary: #1a2b3b;
  --bs-secondary: #667380;
  --bs-font-sans-serif: "Manrope", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
  &::selection {
    background: var(--theme3);
  }
}

html {
  height: 100%;
  scrollbar-color: var(--theme2) var(--theme1);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
    background: var(--theme1);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--theme2);
  }
}

body {
  display: block;
  position: relative;
  min-height: 100%;
  background: var(--theme1);
  color: var(--bs-primary);
}

p {
  hyphens: auto;
}

a {
  position: relative;
  display: inline;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 3px solid var(--theme5);
  transition: border-bottom-color $animation-time;

  &:hover {
    color: inherit;
    border-bottom-color: var(--theme2);
  }
}

picture, img, svg {
  display: block;
  vertical-align: middle;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  picture, img, svg {
    display: block;
    vertical-align: top;
  }
}

.limit-width, .footnotes {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gap);
  padding-right: var(--gap);
  max-width: calc(var(--main-width) + 2 * var(--gap));
}

sup, sub {
  line-height: .75;

  a {
    font-weight: 900;
  }
}

.blockquote-wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin: 1em auto;
  padding: 0 var(--gap);

  > * {
    border-left: solid 3px var(--theme5);
    padding: 0 1rem;
  }
}

.btn {
  background: var(--theme4);
  border: none;
  border-radius: 1em;
  padding: 0.1rem 0.6rem;

  &[title="Open Days"] {
    background: unset;
    border: solid 1px var(--theme4);
    color: var(--theme4);

    &:hover {
      color: var(--bs-primary);
      border-color: inherit;
    }
  }

  &:hover {
    background: var(--theme3);
  }
}

.icon-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 0;
  padding: 0 10px 0 5px;
  height: 30px;
  font-weight: 600;
  transition: all $animation-time;

  &:hover {
    box-shadow: var(--bs-primary) 0 2px 4px;
    transform: translateY(-2px);
  }
}

.navbar {
  background: var(--theme1);
}

.navbar-nav {
  gap: 1em;
}

.logo {
  display: inherit;
}

.navbar-brand {
  margin: initial;
  margin-right: 1rem;
  border: none;
  padding: initial;
}

.navbar, .post-header-wrapper, .page-header-wrapper {
  position: relative;
  color: var(--theme1);
  background: transparent;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bs-primary);
    z-index: -11;
  }

  *::selection {
    color: var(--bs-primary);
    text-shadow: none;
  }
}

.navbar-content {
  position: relative;
  margin: 0 auto 0 auto;
  padding: 0 var(--gap);
  max-width: calc(var(--main-width) + 2 * var(--gap));
}

main {
  .post-header, .post-content, .post-footer, .page-header, .post-entry {
    transform-origin: 0 50%;
    animation: content-reveal .8s cubic-bezier(.86, 0, .07, 1.2) backwards var(--animation-delay);
  }
}

.post-header, .page-header {
  --animation-delay: 0s;
}

.post-content, .post-entry {
  --animation-delay: .4s;
}

.post-footer {
  --animation-delay: .8s;
}

.post-header-wrapper, .page-header-wrapper {
  padding-bottom: calc(2vw + 50px);
  text-shadow: var(--bs-primary) 0 0 2px;

  .post-header * {
    position: relative;
  }
}

$strips: 7;
$start-colour: #DDFF33;
$start-colour-angle: 70;
$end-colour: #33BBFF;
$end-colour-angle: 200;
$darken-value: 12;

.pattern-wrapper {
  --pattern-display-height: calc(30px + var(--pattern-fade) + var(--pattern-height) * .2);
  --pattern-height: 42vw;
  --pattern-ratio: 128/75;
  --bar-width: 15%;
  --bar-height: 78%;
  --diagonal-width: calc((100% - var(--bar-width) * 4) / 3);
  --chart-growth: calc((100% - var(--bar-height)) / 3);
  --pattern-fade: 20vw;
  --animation-start: .8s;
  --animation-sequence: 0.25s;
  position: absolute;
  bottom: calc(0% - var(--pattern-fade));
  width: 100%;
  height: var(--pattern-display-height);
  overflow: hidden;
  z-index: -10;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: var(--pattern-fade);
    bottom: 0;
    background: linear-gradient(#e1e5e9aa 0, #e1e5e9dd 5vw, var(--theme1) var(--pattern-fade));
    z-index: -9;
  }
}

.pattern {
  position: absolute;
  left: 30vw;
  height: var(--pattern-height);
  aspect-ratio: var(--pattern-ratio);
  z-index: inherit;
}

.pattern-strip {
  position: absolute;
  width: var(--bar-width);
  height: var(--bar-height);
  transform-origin: 0 100%;
  animation-name: pattern-bar;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(.455, .03, .515, .955);
  animation-fill-mode: backwards;

  &:nth-child(2n) {
    width: var(--diagonal-width);
    height: calc(var(--bar-height) - var(--chart-growth));
    clip-path: polygon(0 0, 100% 41%, 100% 100%, 0 59%);
    animation-name: pattern-diagonal;
  }
}

@for $i from 1 through $strips {
  .pattern-strip:nth-child(#{$i}) {
    top: calc(var(--chart-growth) * #{floor(($strips - $i + 1)/ 2)});
    left: calc(var(--bar-width) * #{floor($i / 2)} + var(--diagonal-width) * #{floor(($i - 1) / 2)});
    @if $i % 2 == 0 {
      background: linear-gradient(100deg, adjust-hue(darken($start-colour, $darken-value), ($end-colour-angle - $start-colour-angle) / $strips * ($i - 1)), adjust-hue(darken($start-colour, $darken-value), ($end-colour-angle - $start-colour-angle) / $strips * $i));
    } @else {
      background: linear-gradient(80deg, adjust-hue($start-colour, ($end-colour-angle - $start-colour-angle) / $strips * ($i - 1)), adjust-hue($start-colour, ($end-colour-angle - $start-colour-angle) / $strips * $i));
    }
    temp: saturation(saturate(darken($start-colour, $darken-value), $darken-value));
    animation-delay: calc(var(--animation-start) + var(--animation-sequence) * #{$i - 1});
  }
}

.post-content-wrapper, .main .post-entry:first-of-type {
  padding-top: 2em;
}

.post-header, .post-content, .post-footer, .page-header, .post-entry {
  position: relative;
  margin: 0 auto 0 auto;
  padding: 0 var(--gap);
  max-width: calc(var(--main-width) + 2 * var(--gap));

  picture, img {
    width: 100%;
    max-width: var(--main-width);
  }

  .author-image {
    display: inline-block;
    object-fit: cover;
    border-radius: 50%;
    margin-right: var(--content-gap);
    height: 100px;
    width: 100px;
  }

  .post-content {
    margin: initial;
    padding: initial;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.first-entry, .post-entry {
  .entry-cover {
    height: 200px;
    padding: 0;
    width: unset;
    max-width: 50%;
    object-fit: contain;

    img {
      height: 200px;
      width: unset;
      max-width: 100%;
      padding: 0;
      object-fit: contain;
    }
  }

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

.entry-link {
  display: flex;
  width: 100%;
  padding: .5em 0;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

.entry-header {
  h2, .h2 {
    margin-top: .5rem;
  }
}

.icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2;
}

.right-arrow {
  background: var(--theme2);
  border-radius: .6em;
}

.exclamation {
  background: var(--theme4);
  border-radius: .6em;
}

.entry-cover {
  position: relative;
  margin: 0 auto 0 auto;
  padding: 0 var(--gap);
  max-width: calc(var(--main-width) + var(--gap) * 2);

  img {
    max-width: var(--main-width);
    height: unset;
  }
}

.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
  position: absolute;
  object-fit: contain;
  top: 0;
  left: 0;
  height: clamp(500px, 500px, 500px);
}

.footer {
  //max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
  text-align: center;
  line-height: 1rem;
  font-size: .8rem;
  color: var(--bs-secondary);
}

.small-grey-text {
  font-size: .8em;
  color: var(--bs-secondary);
  line-height: 1rem;
}

.video-shortcode {
  width: 100%;
}

iframe {
  overflow: hidden;
  display: block;
  position: relative;
  height: 100vh;
  width: calc(100% - 2rem);
  margin: 1em;

  &.youtube {
    aspect-ratio: 16/9;
    height: unset;
  }
}

@media (max-width: 575.98px) {
  .navbar-nav {
    padding-top: 1em;
  }

  .dropdown .btn {
    width: 100%;
  }

  .entry-link {
    display: block;
  }

  .first-entry, .post-entry {
    .entry-cover, .entry-cover img {
      max-width: unset;
      width: 100%;
      max-height: 300px;
      height: unset;
    }
  }
}
